.divider {
    display:flex;
    justify-content:center;
    align-items: center;
    color:grey;
}

.divider::before,
.divider::after {
    content: "";
    display: block;
    background: grey;
    width: 30%;
    height:1px;
    margin: 0 10px;
}